@media only screen and (max-width: 980px) {
  .header-content{
    display: inline-grid;
    width: 100%;
    text-align: right;
  }
}

/*message boxes */
@media only screen and (min-width: 768px) {
  .messagebox{
      left:120px;
  }
}

@media only screen and (max-width: 765px) {
  .messagebox{
      margin:  0 auto;
  }
}

/* footer */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}